$text-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$header-font: 'Raleway', sans-serif;

$dxw-blue: #006A97;
$dxw-lightblue: #1AA3DD;
$dxw-grey: #6D6E70; 

